@use '../../styles/_variables' as var

.root
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 62px
    height: 108px
    background: rgba(255, 255, 255, 0.36)
    border: 1px solid rgba(255, 255, 255, 0.5)
    border-radius: 40px
    font-size: 14px
    color: var.$primary-color
    .time
        font-weight: 400
        margin-bottom: 8px
    .icon
        width: 45px
        height: 35px
        margin-bottom: 4px
        display: flex
        justify-content: center
        align-items: center
        img
            max-width: 100%
            max-height: 100%
    .temp
        font-weight: 700
.skeleton
    .root
        width: 62px
        height: 108px
        background: rgba(255, 255, 255, 0.36)
        border: 1px solid rgba(255, 255, 255, 0.5)
        border-radius: 40px
