.root
    background: rgba(255, 255, 255, 0.36)
    border: 1px solid rgba(255, 255, 255, 0.5)
    border-radius: 20px
    padding: 16px 22px
    transition: all 0.3s linear
    &.active
        background: rgba(255, 255, 255, 0.6)
        border: 1px solid rgba(255, 255, 255, 0.8)
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08)
